<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>OnClass</title>
    <link rel="stylesheet" href="/css/sala_aluno.css">
    <link rel="stylesheet" href="/css/all.css">
    <script defer src="/js/logout.js"></script>
    <style type="text/css">
    a:link { 
        text-decoration:none; 
        text-decoration-color: black;
        } 

    </style>
</head>
<body>
    <header class="top">
        <a href="/">
        <input type="image" src="/assets/images/logo.svg">
        </a>
        <h1>SALA DE P.I.</h1>
        <a href="/">
            <input class="logout" type="image" src="/assets/images/logout.svg">
        </a>

    </header>
    <main>
        <div class="sala">
            <div class="materiais">
            <a href="/video-stream/{{code}}">
                <input id="video" type="button" >
            </a>            </div>
            <div class="linha"></div>
            <div class="Listaprovas">
            {{#each classList}}
                <a href="/prova/{{nome}}/{{id}}" style="text-decoration:none">
                <div class="prova">
                    <div class="nome">
                        {{nome}}
                    </div>
                    <div class="data">
                        {{turmaId}}
                        {{!-- 13/12/2020 --}}
                    </div>
                </div>
                </a>
            {{/each}}
            </div>
        </div>
    </main>
    <footer class="bottom">
        <p class="text"> Criado por Matheus Simão Schmidt</p>
    </footer>
</body>
        <script>
            
        </script>
</html>